.c-underline {
  @apply inline;
  @apply duration-200;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 10px;

  &--primary {
    background-image: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), linear-gradient(to right, theme('colors.pink'), theme('colors.transparent'));
  }

  &--secondary {
    background-image: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), linear-gradient(to right, theme('colors.green'), theme('colors.transparent'));
  }

  &:hover:not(span) {
    background-size: 0% 10px;
  }
}
