<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <meta name="generator" content="Eleventy">

  <title>{{ renderData.title or title or metadata.title }}</title>

  <link rel="stylesheet" href="{{ '/styles/index.css' | url }}">
</head>

<body class="bg-grey leading-normal font-avenir-light text-white" id="top" itemscope itemtype="http://schema.org/WebPage">
  {% include "partials/header.njk" %}

  <main>
    {{ content | safe }}
  </main>

  {% include "partials/footer.njk" %}

  <script src="{{ '/scripts/index.js' | url }}"></script>
</body>

</html>
