<header class="pt-6 border-t-4 border-pink border-solid md:pt-12">
  <div class="container | text-right">
    <nav class="inline-flex font-avenir-roman">
      <a class="mr-6 md:mr-10" href="#">
        Home
      </a>
      <a class="mr-6 md:mr-10" href="#">
        Work
      </a>
      <a class="mr-6 md:mr-10" href="#">
        Writing
      </a>
      <a href="#">
        Contact
      </a>
    </nav>
  </div>
</header>
