---
layout: layouts/base.njk
---
<section class="py-24">
  <div class="container | max-w-2xl lg:max-w-3xl mx-auto">
    <time class="inline-block mb-2 md:mb-4">
      <span class="c-underline c-underline--primary">
        {{ page.date.toDateString() }}
      </span>
    </time>
    <h1 class="font-avenir-roman text-3xl leading-normal max-w-lg mb-4 md:text-4xl lg:max-w-2xl lg:text-6xl lg:leading-tight">
    {{ title -}}
    <span class="text-pink">.</span>
    </h1>

    <p class="font-avenir-light mb-12 text-lg lg:text-xl md:mb-12">
      {{ excerpt }}
    </p>

    <div class="prose | mb-8">
      {{ content | safe }}
    </div>

    <a class="font-avenir-roman py-3 px-6 inline-block text-black bg-green rounded" href="https://twitter.com/intent/tweet?text={{ title | urlencode}}&url={{ page.url | url }}">
      Share on Twitter
    </a>

  </div>
</section>
