---
layout: layouts/base.njk
title: Joshua Hartshorne - Front-end Developer
description: Personal site of Joshua Hartshorne, a front-end developer from Leeds.
eleventyNavigation:
  key: Home
---
<section class="py-24">
    <div class="container">
        <span class="text-sm mb-2 md:text-base">
          <span class="c-underline c-underline--primary">Afternoon, my name's Josh</span>
        </span>
        <h1 class="font-avenir-roman text-3xl leading-normal max-w-lg md:text-4xl  lg:max-w-2xl lg:text-6xl lg:leading-tight">
            Every month, millions of people use the products we’ve <span class="c-underline c-underline--secondary">built.</span>
        </h1>
    </div>
</section>

<section class="pb-12 lg:pb-24">
    <div class="container">
        <h2 class="text-2xl mb-4 md:text-3xl lg:mb-10 lg:text-4xl">Latest Articles<span class="text-pink">.</span></h2>

        <div class="grid md:grid-cols-2 md:gap-12 lg:gap-24">
            {% for post in collections.posts.slice(0, 2) %}
              {% include "partials/teaser.njk" %}
            {% endfor %}
        </div>
    </div>
</section>
