---
layout: layouts/base.njk
title: Joshua Hartshorne - Front-end Developer
description: Personal site of Joshua Hartshorne, a front-end developer from Leeds.
eleventyNavigation:
  key: Home
---
<section class="py-24">
    <div class="container">
        <p class="text-sm mb-2 md:text-base inline-block relative" >
          Hello, my name's Josh
          <span class="c-underline c-underline--primary"></span>
        </p>
        <h1 class="text-3xl leading-normal max-w-lg md:text-4xl lg:max-w-2xl lg:text-6xl lg:leading-tight">
            Usability, performance and accessibility are at the
            <span class="relative">
            heart
            <span class="c-underline c-underline--secondary"></span>
            </span>
            of what I do
        </h1>
    </div>
</section>

<section class="pb-12 lg:pb-24">
    <div class="container">
        <h2 class="text-2xl mb-4 md:text-3xl lg:mb-10 lg:text-4xl">Latest Articles<span class="text-pink">.</span></h2>

        <div class="grid md:grid-cols-2 md:gap-12 lg:gap-24">
            {% for post in collections.posts.slice(0, 2) %}
              {% include "partials/teaser.njk" %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="pb-12 lg:pb-24">
  <div class="container">
    <h2 class="text-2xl mb-4 md:text-3xl lg:mb-10 lg:text-4xl">Latest Projects<span class="text-green">.</span></h2>

    <div class="grid md:grid-cols-2 md:gap-12 lg:gap-24">
      {% for project in collections.projects.slice(0, 2) %}
        {% include "partials/project-teaser.njk" %}
      {% endfor %}
    </div>
  </div>
</section>
