---
layout: layouts/base.njk
title: Joshua Hartshorne - Front-end Developer
description: An Eleventy starter with modern tooling, Tailwind CSS and PurgeCSS
---
<section class="py-24">
    <div class="container">
        <span class="text-sm mb-2 md:text-base">
          <span class="c-underline c-underline--primary">Afternoon, my name's Josh</span>
        </span>
        <h1 class="font-avenir-roman text-3xl leading-normal max-w-lg md:text-4xl  lg:max-w-2xl lg:text-6xl lg:leading-tight">
            Every month, millions of people use the products we’ve <span class="c-underline c-underline--secondary">built.</span>
        </h1>
    </div>
</section>

<section class="pb-12 lg:pb-24">
    <div class="container">
        <h2 class="text-2xl mb-4 md:text-3xl lg:mb-10 lg:text-4xl">Latest Articles<span class="text-pink">.</span></h2>

        <div class="grid md:grid-cols-2 md:gap-12 lg:gap-24">

            {% for post in collections.post.slice(0, 2) %}
            <article class="mb-10">
                <time class="text-sm mb-4 text-grey-light">20th July, 2020</time>
                <h3 class="text-xl md:text-2xl mb-4 | duration-200 hover:text-pink">
                    <a href="{{ post.url | url }}" class="flex items-center | group">
                        {{ post.data.title }}

                        <svg class="w-4 h-4 ml-4 | duration-200 delay-100 group-hover:text-pink group-hover:ml-6 group-hover:text-pink" viewBox="0 0 19 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5858 10H0V8.00001H14.5858L8.29289 1.70712L9.70711 0.292908L18.4142 9.00001L9.70711 17.7071L8.29289 16.2929L14.5858 10Z" fill="currentColor"/>
                        </svg>
                    </a>
                </h3>
                <p class="font-avenir-light leading-normal">
                    {{ post.data.excerpt }}
                </p>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
