---
layout: layouts/base.njk
title: Writing by Joshua Hartshorne
description: Writing by Joshua Hartshorne, Front-end Developer
pagination:
  data: collections.posts
  size: 6
  alias: posts
eleventyNavigation:
  key: Writing
---
{% set postListItems = posts %}

{% if postListItems.length < collections.post.length %}
  {% set paginationNextUrl = pagination.nextPageHref %}
  {% set paginationPrevUrl = pagination.previousPageHref %}
{% endif %}

<section class="py-24">
    <div class="container">
      <h1 class="relative inline text-3xl leading-normal max-w-lg md:text-4xl lg:max-w-2xl lg:text-6xl lg:leading-tight">
        Writing by Josh...
        <span data-js-hook="generic-underline" class="c-underline c-underline--secondary"></span>
      </h1>
    </div>
</section>

<section class="pb-12 lg:pb-24">
    <div class="container">
        <h2 class="text-2xl mb-4 md:text-3xl lg:mb-10 lg:text-4xl">All Articles<span class="text-pink">.</span></h2>

        <div class="grid md:grid-cols-2 md:col-gap-12 lg:col-gap-24">
            {% for post in pagination.items %}
              {% include "partials/teaser.njk" %}
            {% endfor %}
        </div>

        {% include "partials/pagination.njk" %}
    </div>
</section>
