<footer class="py-10 border-t border-pink border-solid">
  <div class="container | md:flex">
    <div class="mb-4 md:mb-0 md:mr-12 lg:mr-24">
      <p class="mb-2 font-avenir-roman">2020 - 2021</p>
      <p>Joshua Hartshorne</p>
    </div>
    <div class="mb-4 md:mb-0 md:mr-12 lg:mr-24">
      <p class="mb-2 font-avenir-roman">Contact</p>
      <a href="mailto:hello@jhartshorne.co.uk">hello@jhartshorne.co.uk</a>
    </div>
    <div>
      <p class="mb-2 font-avenir-roman">Find me elsewhere</p>
      <a href="#">Twitter</a>
      <span>/</span>
      <a href="#">Github</a>
    </div>
  </div>
</footer>
