<header class="pt-6 border-t-4 border-pink border-solid md:pt-12">
  <div class="container | text-right">
    <nav class="inline-flex font-avenir-roman">
      <a class="mr-6 md:mr-10 duration-200 | c-underline c-underline--primary " href="{{ '/' | url }}">
        Home
      </a>
      <a class="mr-6 md:mr-10 duration-200" href="{{ '/writing/' | url }}">
        Writing
      </a>
    </nav>
  </div>
</header>
