{% set navPages = collections.all | eleventyNavigation %}

<header class="pt-6 border-t-4 border-pink border-solid md:pt-12">
  <div class="container | text-right">
    <nav class="inline-flex">
    {%- for entry in navPages %}
      <a class="mr-6 md:mr-10 relative duration-200 hover:text-pink" href="{{ entry.url | url }}">
        {{ entry.title }}
        <span class="c-underline c-underline--primary"></span>
      </a>
    {% endfor %}
    </nav>
  </div>
</header>
