@font-face {
  font-display: optional;
  font-family: 'Avenir Roman';
  font-weight: 100 900;
  src: url('../../fonts/Avenir-Roman.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: 'Avenir Light';
  font-weight: 100 900;
  src: url('../../fonts/Avenir-Light.woff2') format('woff2');
}
